<app-header titulo="Boton JEO"></app-header>

<ion-content class="ion-padding">
  <ion-button color="primary">
    Primary
  </ion-button>
  <br>
  <ion-button color="secondary">
    Secondary
  </ion-button>
  <br>
  <ion-button color="tertiary">
    Tertiary
  </ion-button>
  <br>
  <ion-button color="success">
    Success
  </ion-button>
  <br>
  <ion-button color="warning">
    Warning
  </ion-button>
  <br>
  <ion-button color="danger">
    Danger
  </ion-button>
  <br>
  <ion-button color="light">
    Light
  </ion-button>
  <br>
  <ion-button color="medium">
    Medium
  </ion-button>
  <br>
  <ion-button color="dark">
    Dark
  </ion-button>

</ion-content>